:root{
    --primary-color: #9c27b0;
    --primary-color-light: #BB2FD3;

    --primary-color-blue:#4F00FF;

    --second-color: #CC9B14;
    --second-color-light:#FFDF40;

    --border-color:#e9ecef17;
}